* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
  font-family: 'Poppins', sans-serif;
  color: white;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span {
  margin: 10px;
  font-size: 30px;
}
.degree-section h2 {
  font-size: 40px;
}

.temperature-description {
  font-size: 30px;
}
a {
  position: absolute;
  left: 5px;
  bottom: 5px;
  opacity: 0.5;
}
